{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 27.747818,
    "longitude": -107.6371709,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Casa",
    "time_zone": "America/Mexico_City",
    "external_url": null,
    "internal_url": null,
    "currency": "MXN",
    "country": "MX",
    "language": "es",
    "radius": 100
  }
}